.App {
  text-align: center;
}

/*.App-logo {
  height: 20px;
  float: left;
}*/

/*STYLES FOR HEADER*/
.custom-progress-wrapper {
  width: 36%;
  margin: 15px auto;
}
.progress {
  height: 10px !important;
}
.custom-header {
  background: url('/static/media/logo.1b409612.svg') 10px center no-repeat rgb(239, 251, 255);
  background-size: 86px;
}

/*STYLES FOR QUESTION CONTAINER*/
.custom-question-centered {
  margin: 20vh auto 20px auto;
  width: 30%;
}
.custom-input-centered, .custom-next-centered {
  width: 30%;
  margin: 0 auto;
}
.custom-buttom-centered {
  margin: 30px auto 0 auto;
}
a .custom-question-centered {
  margin: 30px auto;
}

.custom-question-centered .btn-primary {
  background-color: rgb(0, 92, 232) !important;
  background-image: none !important;
  border-radius: 16px !important;
  padding: 6px 35px !important;
}

.custom-buttons-centered .btn-toolbar .btn-primary {
  background-color: rgb(255, 255, 255) !important;
  background-image: none !important;
  color: rgb(0, 92, 232) !important;
  border-color: rgb(0, 92, 232) !important;
  margin: 8px !important;
  padding: 6px 16px !important;
  border-radius: 16px !important;
  border-width: 1.5px !important;
  font-size: 12px !important;
}

.custom-buttons-centered {
  width: 66%;
  margin: 0 auto;
}

.custom-buttons-centered .form-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.custom-buttons-centered input {
    position: absolute;
    left: -9999px;
}
.custom-buttons-centered .checkbox label {
    display: block;
    margin: 0 7px;
    padding: 8px 10px;
    border: 1px solid #BBBBBB;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
    color: #005ce8;
    border-color: #005ce8;
    border-radius: 16px;
    font-size: 12px;
}
.custom-buttons-centered label.selected {
    background: #2595ff;
    color: #fff;
}
.radio_buttons div:first-child label {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.radio_buttons div:last-child label {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}