.App {
  text-align: center;
}

/*.App-logo {
  height: 20px;
  float: left;
}*/

/*STYLES FOR HEADER*/
.custom-progress-wrapper {
  width: 42%;
  margin: 15px auto;
}
.progress {
  height: 10px !important;
}
.custom-header {
  background: url('/static/media/logo.1b409612.svg') 10px center no-repeat rgb(239, 251, 255);
  background-size: 86px;
}

/*STYLES FOR QUESTION CONTAINER*/
.custom-question-centered {
  width: 50%;
  margin: 30vh auto;
}

.custom-question-centered .btn-primary {
  background-color: rgb(0, 92, 232) !important;
  background-image: none !important;
  border-radius: 16px !important;
  padding: 6px 35px !important;
}

.custom-question-centered .btn-toolbar .btn-primary {
  background-color: rgb(255, 255, 255) !important;
  background-image: none !important;
  color: rgb(0, 92, 232) !important;
  border-color: rgb(0, 92, 232) !important;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
