.App {
  text-align: center;
}

/*.App-logo {
  height: 20px;
  float: left;
}*/

/*STYLES FOR HEADER*/
.custom-progress-wrapper {
  width: 36%;
  margin: 15px auto;
}
.progress {
  height: 10px !important;
}
.custom-header {
  background: url('/static/media/logo.1b409612.svg') 10px center no-repeat rgb(239, 251, 255);
  background-size: 86px;
}

/*STYLES FOR QUESTION CONTAINER*/
.custom-question-centered {
  margin: 20vh auto 20px auto;
  width: 32%;
}
.custom-input-centered, .custom-next-centered {
  width: 32%;
  margin: 20px auto;
}
.custom-buttom-centered {
  margin: 30px auto 0 auto;
}
a .custom-question-centered {
  margin: 30px auto;
}

.custom-question-centered .btn-primary, .custom-next-centered .btn-primary {
  background-color: rgb(0, 92, 232) !important;
  background-image: none !important;
  border-radius: 16px !important;
  padding: 6px 35px !important;
}

.custom-buttons-centered .btn-toolbar .btn-primary {
  background-color: rgb(255, 255, 255) !important;
  background-image: none !important;
  color: rgb(0, 92, 232) !important;
  border-color: rgb(0, 92, 232) !important;
  margin: 8px !important;
  padding: 6px 16px !important;
  border-radius: 16px !important;
  border-width: 1.5px !important;
  font-size: 12px !important;
}

.custom-buttons-centered {
  width: 66%;
  margin: 0 auto;
}

.custom-buttons-centered .form-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.custom-buttons-centered input[type="checkbox"], .custom-10  input[type="checkbox"], .custom-buttons-centered input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.custom-9 input[type="radio"] {
    position: absolute;
    left: -9999px;
}

.custom-9 .form-group, .custom-10 .form-group {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.custom-10 .form-group {
  margin: 10px 0;
}

.custom-9 label.radio-inline, .custom-10 label, .custom-buttons-centered label {
    margin: 0 7px;
    padding: 8px 35px;
    border: 1px solid #BBBBBB;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .12);
    cursor: pointer;
    color: #005ce8;
    border-color: #005ce8;
    border-radius: 16px;
    font-size: 12px;
}
.custom-10 .checkbox label {
  padding: 8px 10px 10px 10px;
}
.custom-buttons-centered .radio label {
    padding: 8px 26px;
}
.container label.selected {
    background: #2595ff;
    color: #fff;
}

.form-group, h5.display-2 {
  margin-bottom: 35px;
}

.control-label {
  margin: 15px 0; 
}

.custom-form-centered {
  width: 89%;
  margin: 0 auto;
}

.custom-h3 h3 {
  margin: 0 0;
}

.custom-h3 {
  margin-bottom: 20px;
}

/*Q13*/

div[name="domain_name"] label, .custom-next-centered label, .custom-site-form label {
  border: none;
  color: inherit;
  box-shadow: none;
  font-weight: 100;
}

div.custom-question-centered.custom-question-centered-no-margin {
  margin-top: 0px;
}

h3.custom-h3-q13 {
  margin-top: 50px;
}

div.custom-question-centered-last-section {
  margin-top: 50px;
}

div.custom-13 {
  margin-top: 6vh;
}

div.custom-16 label {
  font-weight: normal;
  font-size: 10px;
}

